{{page-title "EmberJSTrainingZoho"}}

{{! The following component displays Ember's default welcome message. }}
{{!<WelcomePage /> }}{{! Feel free to remove this! }}


<h2> Welcome To Ember App</h2>
<LinkTo @route="home" class="link-buttons">Home</LinkTo>
<LinkTo @route="BMI" class="link-buttons">BMI Calculator</LinkTo>
<LinkTo @route="book-ticket" class="link-buttons">Railway Reservation</LinkTo>
<LinkTo @route="registration" class="link-buttons">Student Form</LinkTo>
<LinkTo @route="social-media" class="link-buttons">Social Media</LinkTo>

{{outlet}}