{{page-title "EmberJSTrainingZoho"}}

{{! The following component displays Ember's default welcome message. }}
{{!<WelcomePage /> }}{{! Feel free to remove this! }}


<h2> Welcome To Ember App</h2>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <LinkTo @route="home" class="navbar-brand">Home</LinkTo>
            </div>

            <ul class="nav navbar-nav">
                <li><LinkTo @route="BMI">BMI Calculator</LinkTo></li>
                <li><LinkTo @route="book-ticket">Railway Reservation</LinkTo></li>
                <li><LinkTo @route="registration">Student Form</LinkTo></li>
                <li><LinkTo @route="social-media">Social Media</LinkTo></li>
            </ul>
        
        </div>

    </nav>
    
{{outlet}}